    <aside id="layout-menu" class="layout-menu-horizontal menu-horizontal    menu bg-menu-theme flex-grow-0">
        <div class="container-xxl d-flex h-100">
            <ul class="menu-inner">
                <!-- Layouts -->
                <li class="menu-item">
                    <a href="/account/developers" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-home"></i>
                        <div data-i18n="Layouts">Home</div>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- / Menu -->