<%- include("./inc/head", { title: 'Welcome', include_css: 'misc' }) %>

<body>
    <!-- Content -->
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-1 mx-2">Affinity</h2>
            <p class="mb-4 mx-2">
                Affinity is the new way to login to your favorite websites.<br />
                With easy developer integration, a simple user interface, and a secure backend, Affinity is the perfect solution for your next application.
            </p>
            <a href="/authflow/642d7d553a5eb3c463497f52" class="btn btn-primary mb-4">My Account</a>
            <a href="/r/docs" class="btn btn-warning mb-4">Developer Documentation</a>
            <div class="mt-4">
                <!-- <img src="/assets/img/illustrations/page-misc-under-maintenance.png" alt="page-misc-under-maintenance" width="550" class="img-fluid"> -->
            </div>
        </div>
    </div>
</body>
</html>
