<%- include("../inc/head", { title: 'Welcome', include_css: 'misc' }) %>

<body>
    <!-- Content -->
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-1 mx-2">Affinity</h2>
            <p class="mb-4 mx-2">
                The Affinity API is currently unavailable.<br /><br />
                We are working to restore service as soon as possible. Please check back later.
            </p>
            <a href="https://status.lucat.lol" target="_blank" class="btn btn-danger mb-4">System Status (external page)</a>
            <small>
                Last checked: <%= apiStatus.lastCheck %><br />
                URL: <%= apiStatus.url %>
            </small>
        </div>
    </div>
</body>
</html>
